<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

    <title th:text="${message.title}"></title>
</head>
<body style="font-family: 'Courier New', sans-serif; font-size: 16px">
<label>Bucket Overflow</label>

<div>
    <label>Context: </label>
    <label th:text="${message.context}"></label>
</div>
<div>
    <label>Class: </label>
    <label th:text="${message.className}"></label>
</div>
<div>
    <p>thanks</p>
    <p>b</p>
</div>
</body>
</html>
