<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

    <title>o-worms | new word added</title>
</head>
<body style="font-family: 'Courier New', sans-serif">
<div style="margin-bottom: 1.5rem">
    <label>A new word was recently added</label>
</div>
<div style="margin-bottom: 1rem">
    <label>Word: </label>
    <label th:text="${message.word}"></label>
</div>
<div style="margin-bottom: 1rem">
    <label>Definition: </label>
    <label th:text="${message.definition}"></label>
</div>
<div style="margin-bottom: 1rem">
    <label>Part Of Speech: </label>
    <label th:text="${message.partOfSpeech}"></label>
</div>
<label>You can see more details about the word here:</label>
<div>
    <a th:href="${message.retrievalLink}">
        <label th:text="${message.retrievalLink}"></label>
    </a>
</div>
<div style="margin-top: 2rem">
    <p>Regards,</p>
    <p>"bot"</p>
</div>
</body>
</html>