<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

    <title th:text="${message.title}"></title>

    <style>
        .old {
            color: #b81515;
        }

        .new {
            color: #41c71b;
        }
    </style>
</head>
<body style="font-family: 'Courier New', sans-serif; font-size: 16px">
<div style="margin-bottom: 1.5rem">
    <label th:text="${message.ACTION}"></label>
</div>

<div>
    <label>Word: </label>
    <label class="old"
           th:if="${message.oldWord.theWord != message.updatedWord.theWord}"
           th:text="${message.oldWord.theWord}"></label>
    <span th:if="${message.oldWord.theWord != message.updatedWord.theWord}"> -> </span>
    <label class="new" th:text="${message.updatedWord.theWord}"></label>
</div>
<div>
    <label>Part Of Speech: </label>
    <label class="old"
           th:if="${message.oldWord.partOfSpeech != message.updatedWord.partOfSpeech}"
           th:text="${message.oldWord.partOfSpeech}"></label>
    <span th:if="${message.oldWord.theWord != message.updatedWord.theWord}"> -> </span>
    <label class="new" th:text="${message.updatedWord.partOfSpeech}"></label>
</div>
<div>
    <label>Definition: </label>
    <label class="old"
           th:if="${message.oldWord.definition != message.updatedWord.definition}"
           th:text="${message.oldWord.definition}"></label>
    <span th:if="${message.oldWord.definition != message.updatedWord.definition}"> -> </span>
    <label class="new" th:text="${message.updatedWord.definition}"></label>
</div>
<div>
    <label>Origin: </label>
    <label class="old"
           th:if="${message.oldWord.origin != message.updatedWord.origin}"
           th:text="${message.oldWord.origin}"></label>
    <span th:if="${message.oldWord.origin != message.updatedWord.origin}"> -> </span>
    <label class="new" th:text="${message.updatedWord.origin}"></label>
</div>
<div>
    <label>Example Usage: </label>
    <label class="old"
           th:if="${message.oldWord.exampleUsage != message.updatedWord.exampleUsage}"
           th:text="${message.oldWord.exampleUsage}"></label>
    <span th:if="${message.oldWord.exampleUsage != message.updatedWord.exampleUsage}"> -> </span>
    <label class="new" th:text="${message.updatedWord.exampleUsage}"></label>
</div>
<div>
    <label>Pronunciation: </label>
    <label class="old"
           th:if="${message.oldWord.pronunciation != message.updatedWord.pronunciation}"
           th:text="${message.oldWord.pronunciation}"></label>
    <span th:if="${message.oldWord.pronunciation != message.updatedWord.pronunciation}"> -> </span>
    <label class="new" th:text="${message.updatedWord.pronunciation}"></label>
</div>
<div>
    <label>Tags: </label>
    <label class="old"
           th:if="${message.oldTags != message.newTags}"
           th:text="${message.oldTags}"></label>
    <span th:if="${message.oldTags != message.newTags}"> -> </span>
    <label class="new" th:text="${message.newTags}"></label>
</div>
<div>
    <label>Note</label>
    <label class="old"
           th:if="${message.oldWord.note != message.oldWord.note}"
           th:text="${message.oldWord.note}"></label>
    <span th:if="${message.oldWord.note != message.oldWord.note}"> -> </span>
    <label class="new" th:text="${message.updatedWord.note}"></label>
</div>

<div style="margin-top: 1.5rem; margin-bottom: 1.5rem">
    <label>to learn more, click:</label>
    <a th:href="${message.retrievalLink}">
        <label th:text="${message.retrievalLink}"></label>
    </a>
</div>

<div>
    <p>thanks,</p>
    <p>b</p>
</div>

</body>
</html>
